/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
    line-height: 1.6;
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: rgba(50, 51, 51, 0.9);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-family: 'Playfair Display', serif;
    font-size: 2rem;
    color: hsl(46, 90%, 45%); /* Gold Color */
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #d4af37;
}

/* Hero Section */
.hero {
    height: 100vh;
    background: url('image/background.jpg') center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
}

.hero h2 {
    font-family: 'Playfair Display', serif;
    font-size: 5rem;
    color: #d4af37;
    margin-bottom: 10px;
}
.hero p {
    font-size: 1.5rem;
    color: black;
}


.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 30px;
    background: #2214ea;
    color: rgb(246, 243, 243);
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

/* Menu Grid */
.container {
    padding: 80px 10%;
    color:#100690;
}
.p{
    color: hsl(246, 80%, 33%);
    font-style: italic;
}
.h1{
    color: #d4d10b;
    font-family: 'Playfair Display', serif;
}

.section-title {
    text-align: center;
    font-family: 'Playfair Display', serif;
    font-size: 3rem;
    margin-bottom: 40px;
    color: #d4af37;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    transition: transform 0.3s;
    
}

.menu-card {
    background: #262626;
    padding: 25px;
    transition: transform 0.3s;
}

.menu-card:hover {
    transform: translateY(-10px);
}

.price {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #d4af37;
    font-size: 1.2rem;
}

footer {
    text-align: center;
    padding: 40px;
    background: #246f7c;
}
.service-card {
    background: #f7ecec;
    padding: 25px;
    transition: transform 0.3s, background-color 0.3s;
    border-radius: 10px;
}
.service-card:hover {
    transform: translateY(-10px);
    background-color: #d0eff0;
}

.hot-drinks:hover,
.cultural-drinks:hover,
.special-food:hover,
.alcoholic-drinks:hover,
.soft-drinks:hover,
.juice-drinks:hover,
.desserts:hover {
    transform: translateY(-10px);
    background-color: #d0eff0;
}

.about{
    background: #f7ecec;
    padding: 25px;
    margin-top: 40px;
    color:#000;
    text-align: center;

}
.about p{
    color: black;
    font-style: italic;
}
.menu-details h1{
    color: #d4af37;
    font-family: 'Playfair Display', serif;
}
.dorowat{
    background: whitesmoke;
    padding: 25px;
    margin-top: 40px;
    color:#000;
    text-align: center;
    width: 100%;
}
.menu-details{
    background: #d0eff0;
    padding: 25px;
    margin-top: 40px;
    color:#000;
    text-align: center; 
}
.menu-details p{
    color:#2214ea;
    font-style: italic;
    font-weight: bold;
}
.service-image{
    width:100%;
    height:auto;
    border-radius:8px;
    display:block;
    margin:12px auto;
}
.btn button{
    background:#2214ea;
    color:#fff;
    border:0;
    padding:10px 16px;
    border-radius:6px;
    cursor:pointer;
}
.soft-drinks li{
    color: black;
    font-style: italic;
    font-size: 1.2rem;
    text-align: left;
}
.special-food{
    border-radius:20px;


}
.special-food:hover{
    background-color:white;
    transform: translateY(-10px);
}
.pizza{
    background: #d0eff0;
    padding: 25px;
    margin-top: 40px;
    color:#000;
    text-align: center; 
    border-radius: 20px;
}
.burger{
    background: #d0eff0;
    padding: 25px;
    margin-top: 40px;
    color:#000;
    text-align: center; 
    border-radius: 20px;
}
.soft-drinks{
    background: #d0eff0;
    padding: 25px;
    margin-top: 40px;
    color:#000;
    text-align: center; 
    border-radius: 20px;
}
.juice-drinks:hover {
    background-color:#d0eff0;
    transform: translateY(-10px);
}
.alcoholic-drinks{
    background: #d0eff0;
    padding: 25px;
    margin-top: 40px;
    color:#000;
    text-align: center; 
    border-radius: 20px;
}
